.idea
animations
documents
music
photos
profile_photos
secret
secret_thumbnails
stickers
temp
thumbnails
video_notes
videos
voice
wallpapers

db.sqlite
db.sqlite-shm
db.sqlite-wal
td.binlog

errors.txt